body{
  background-image: url("../images/chausey.jpg");
  background-size: cover; /* Ajuste l'image pour qu'elle couvre tout l'écran */
  background-repeat: no-repeat; /* Empêche la répétition de l'image */
  background-attachment: fixed; /* L'image reste fixe lors du défilement */
  background-position: center; /* Centre l'image sur l'écran */
  background-blend-mode:hue;

  display: grid;
  grid-template-rows: auto 1fr auto;
}

h1{
  color: antiquewhite;
}

#entete {
  grid-row: 1;
  display: flex;
  align-items: center; /* Aligne verticalement le logo et la navigation */
  justify-content: space-between; /* Sépare le logo à gauche et la navigation à droite */
  background: rgb(23, 40, 75);
  padding: 0.5em 1em; /* Espacement autour du contenu */
}

#entete img {
  max-width: 30%; /* Taille du logo ajustable */
  height: auto;
}

#pied_page{
  grid-row: 3;
}

.navigation {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
}

.navigation a:hover {
   background: #c63ff0; /*quand je passe la souris, ça change de couleur */
}


#container{
  width:400px;
  margin:0 auto;
  margin-top:10%;
 }
 /* Bordered form */
 form {
  width:100%;
  padding: 10px;
  border: 1px solid #f1f1f1;
  background: #fff;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
 }
 #container h1{
  width: 38%;
  margin: 0 auto;
  padding-bottom: 10px;
 }
 
 /* Full-width inputs */
 input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
 }
 
 /* Set a style for all buttons */
 input[type=submit] {
  background-color: rgb(23, 40, 75);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
 }
 input[type=submit]:hover {
  background-color: white;
  color: rgb(23, 40, 75);
  border: 1px solid rgb(23, 40, 75);
 }